<nav class="navbar navbar-expand-md bg-info navbar-dark fixed-top">
  <img src="assets/images/logo.png" width="35px" height="35px">
  <a class="navbar-brand ml-2" routerLink="/">User Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-user">Add User</a>
      </li>

    </ul>
  </div>
</nav>