<head>
  <title>Users Page</title>
</head>

<body>
  <div class="row">
    <div class="col-4">
      <ul class="list-group " *ngFor="let user of users">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ user.firstname }}
          <button class="btn btn-primary" (click)="selectUser(user)" [class.active]="user === activeuser"> Show
            details</button>
        </li>
      </ul>
    </div>

    <div id="userProfile" class="col-8">
      <div align="center" class="jumbotron" *ngIf="activeuser && !editingUser">
        <h2 id="profileFirstname">{{ activeuser.firstname }}</h2>
        <h6 id="profileEmail">Email: {{ activeuser.email }}</h6>
        <h6 id="profileAge">Age: {{ activeuser.age }}</h6>
        <button (click)="editUser()" id="edit" class="btn btn-info">Edit</button>
        <button (click)="deleteUser()" routerLink="/users" id="delete" class="btn btn-danger">Delete</button>
      </div>
      <div align="center" class="jumbotron" *ngIf="!activeuser && !editingUser">
        <img src="assets/images/left.png" id="left" alt="left-hand">
        <h2> pick a user!</h2>
      </div>
      <div align="center" class="jumbotron" *ngIf="editingUser">
        <form>
          <div class="form-group">
            <h2>Edit User !</h2>
          </div>
          <div class="form-group">
            <label style="float:left;" for="exampleInputName">Name</label>
            <input type="text" class="form-control" id="editInputName" name="editfirstName" [(ngModel)]="editedUser.firstname">
          </div>
          <div class="form-group">
            <label style="float:left;" for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="editInputEmail" name="editEmail" [(ngModel)]="editedUser.email">
          </div>
          <div class="form-group">
            <label style="float:left;" for="exampleInputAge">Age</label>
            <input type="number" class="form-control" id="editInputAge" name="editAge" [(ngModel)]="editedUser.age">
          </div>
    
          <button id="edit" routerLink="/users" (click)="addeditedUser()" type="submit" class="btn btn-info">Add</button>
        </form>
      </div>
    </div>
  </div>
</body>