  <head>
    <title>Users Page</title>
  </head>
  <body>
  <div class="row">
  <div class="col-4">
  <ul class="list-group " *ngFor ="let user of users">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ user.firstname }}
      <button class="btn btn-primary" (click)="selectUser(user)" [class.active]="user === activeuser"> Show details</button>
    </li>
  </ul>
</div>

<div id="userProfile" class="col-8">
  <div align="center" class="jumbotron" *ngIf="activeuser">
    <h2>{{ activeuser.firstname }}</h2>
    <h6>Email: {{ activeuser.email }}</h6>
    <h6>Age: {{ activeuser.age }}</h6>
    <button id="edit" class="btn btn-info">Edit</button>
    <button id="delete" class="btn btn-danger">Delete</button>
  </div>
  <div align="center" class="jumbotron" *ngIf="!activeuser">
    <img src="assets/images/left.png" id="left" alt="left-hand">
    <h2> pick a user!</h2>
  </div>
</div>
</div>
</body>